
.img-fluid {
    max-width: 100%;
    height: auto;
}

.text-caption {
    color: #A9A9A9;
    font-family: MyriadPro, 'Comic Sans MS', sans-serif;
    text-transform: uppercase;
    margin: 14px;
}

.lipsum-text:before {
    content: url('../images/back.png');
    margin-right: 15px;
}

.lipsum-text:after {
    content: url('../images/next.png');
    margin-left: 15px;
}

.picture-more:hover {
    text-decoration: underline;
}

.controls {
    text-align: center;
}

@media(min-width: 1100px) {
    .controls {
        padding-right: 30px;
    }

    .col-right .letter {
        color: #000000;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        position: relative; /* Относительное позиционирование */
        text-align: left;
        margin-top: 20px;
        padding-right: 30px;
    }
}

@media(min-width: 900px) {
    .col-right .picture-more {
        background-color: #000000;
        transition: all .2s ease-in-out;
        color: white;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 11px;
        padding: 4px;
        margin-left: 269px;
    }
}

@media(max-width: 576px) {
    .col-right .picture-more {
        background-color: #000000;
        transition: all .2s ease-in-out;
        color: white;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 11px;
        padding: 4px;
        margin-left: 302px;
    }
}

